body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #fff;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.logo {
    display:flex;
    align-items: center;    
    font-size: 1.8rem;
    font-weight: bold;
    
}

.logo svg{
    color:#e6ac37;
    margin: 5px;
}

.logo h3{
    color: #00aaff;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #00aaff;
}

.auth-buttons .btn {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn {
    background-color: #00aaff;
    color: #fff;
}

.register-btn {
    background-color: #ffaa00;
    color: #fff;
}

.btn {
    padding: 12px 30px;
    margin: 0 15px;
    border: none;
    cursor: pointer;
    background: linear-gradient(45deg, #ff5722, #ff9800); 
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px; 
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3); 
    transition: all 0.3s ease; 
}

.btn:hover {
    background: linear-gradient(45deg, #ff9800, #ff5722); 
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.5);
    transform: translateY(-3px);
}

.btn:active {
    transform: translateY(1px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: url('premium_photo-1683309568772-57011d6c1b7b.avif') no-repeat ;
    background-size: cover;
    position: relative;
    padding-top: 80px; 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
}

.home-content {
    position: relative;
    text-align: center;
    z-index: 1; 
    color: white;
}

.home-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(180, 211, 239);
}

.home-content p {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.buttons .btn {
    margin: 10px;
    padding: 15px 30px;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.buttons .btn:hover {
    transform: translateY(-3px);
}

.register-btn {
    background-color: #ffaa00;
}

.login-btn {
    background-color: #00aaff;
}
