/* body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  font-family: 'Trebuchet MS', Arial, sans-serif;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Arial', sans-serif;
  background-color: #121212;
  color: #fff;
}

/*

.button-container , .info-container{
  display: flex;
  align-items: center;
}

.button-container button {
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 10px;
  border-radius: 12px;
  background-color: transparent;
}

.edit{
  border: 1.5px solid rgb(141,181,145);
  color: rgb(141,181,145);
  text-transform: uppercase;
}

.edit:hover{
  background-color: rgb(182,223,186);
}

.edit:active{
  color: rgb(255,255,255);
  background-color: rgb(141,181,145);
}

.delete{
  border: 1.5px solid rgb(255,175,163);
  color: rgb(255,175,163);
  text-transform: uppercase;
}

.delete:hover{
  background-color: rgb(255,201,193);
}

.delete:active{
  color: rgb(255,255,255);
  background-color: rgb(141,181,145);
}

.create{
  border: 1.5px solid rgb(105,115,148);
  color: rgb(106, 114, 151);
  background-color: rgb(99, 106, 142) !important;
  text-transform: uppercase;
}

.create:hover{
  background-color: rgb(131,138,172) !important;
}

.create:active{
  color: rgb(255,255,255);
  background-color: rgb(105,115,148) !important;
}

.signout{
  border: 1.5px solid rgb(255,175,163);
  background-color: rgb(255,175,163) !important;
  color: rgb(29, 25, 25);
  text-transform: uppercase;
}

.signout:hover{
  background-color: rgb(175,94,94) !important;
  border: 1.5px solid rgb(255,175,163);
}

.signout:active{
  background-color: rgb(175,81,81) !important;
  border: 1.5px solid rgb(175,81,81) !important;
  color: rgb(255,255,255);
}

input{
  margin: 11px 0;
  padding: 12px 16px;
  border-radius: 12px;
  border: 1.5px solid rgb(230,232,236);
}

.list-header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: rgba(0,0,0,0.05);
}

.list-item{
  width: 100%;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: rgba(0,0,0,0.08) 0 0 0 1px;
  display: flex;
  justify-content: space-between;
}
.tick path{
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 32px;
}

.overlay{
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal{
  width: 500px;
  background-color: rgba(255,255,255,1);
  padding: 40px;
  border-radius: 10px;
  box-shadow: rgba(0,0,0,0.05) 0 6px 24px 0, rgba(0,0,0,0.08) 0 0 0 1px;
}
.modal .form-title-container{
  display: flex;
  justify-content: space-between;
}

.modal .form-title-container button{
  border: none;
  background-color: transparent;
}

.modal .form-title-container button:active{
  color: rgb(255,55,55);
}

.modal form{
  display: flex;
  flex-direction: column;
}

.modal label{
  font-size: 13px;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

